<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>메인 페이지</title>

        <!--bootstrap css,js code-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand fs-3 text-light" href="/Main/MainIndex">Main</a>
<!--                    menu-->
                    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active fs-4 text-light" aria-current="page" href="/Main/Study/StudyIndex">공부</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-4 text-light" href="/Main/Media/MediaIndex">미디어</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled fs-4" href="#">개발중</a>
                            </li>
                        </ul>
<!--                        account info-->
                        <ul class="navbar-nav">
                            <li class="d-flex nav-item justdfy-content-center">
                                <p class="m-2 text-light fs-5" th:text = "${session.account} + '님 로그인 중 입니다.'"></p>
                                <a class="btn fs-5 text-light" href="/">
                                    로그아웃
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">

        </div>
        <footer></footer>
    </body>
</html>