<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Study(' + ${TITLE} + ') 페이지'"></title>

    <!--        CSS 추가 예정-->
    <link rel="stylesheet" type="text/css" href="../../../static/CSS/Style.css" th:href="@{/CSS/Style.css}">

    <!--bootstrap css,js code-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- w3 -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand fs-3 text-light" href="/Main/MainIndex">Main</a>
            <!--                    menu-->
            <div class="collapse navbar-collapse d-flex justify-content-between">
                <form>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link fs-4 text-light" data-bs-toggle="dropdown" aria-current="study">
                                공부
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/Main/Study/WEB">WEB</a></li>
                                <li><a class="dropdown-item" href="/Main/Study/SECURITY">Security</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link fs-4 text-light" data-bs-toggle="dropdown" aria-current="study">
                                미디어
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item disabled" href="#">개발중</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled fs-4" href="#">개발중</a>
                        </li>
                    </ul>
                </form>
                <!--                        account info-->
                <ul class="navbar-nav">
                    <li class="d-flex nav-item justdfy-content-center">
                        <p class="m-2 text-light fs-5" th:text = "${session.ID} + '님 로그인 중 입니다.'"></p>
                        <a class="btn fs-5 text-light" href="/">
                            로그아웃
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--            메인 메뉴-->
<main class="container">
    <!--            검색메뉴-->
    <div>

        <form>
            <div class="d-flex justify-content-between mt-5">
                <span class="fs-2" th:text="${TITLE}"></span>
                <!--        구현 예정-->
<!--                <div class="d-flex justify-content-end">-->
<!--                    <select class="form-select m-1" name="SEARCHTITLE">-->
<!--                        &lt;!&ndash; add values&ndash;&gt;-->
<!--                        <option selected>선택</option>-->
<!--                        <option value="NUMBER">글번호</option>-->
<!--                        <option value="ID">아이디</option>-->
<!--                        <option value="NAME">이름</option>-->
<!--                        <option value="TITLE">제목</option>-->
<!--                        <option value="HEADTITLE">머리말</option>-->
<!--                    </select>-->
<!--                    <input type="hidden" name="BIGHEADTITLE" th:value="${TITLE}">-->
<!--                    <input class="form-control m-1" type="search" name="SEARCH" placeholder="Search">-->
<!--                    &lt;!&ndash;                        큰 머리말 구분&ndash;&gt;-->
<!--                    <button class="btn btn-outline-success m-1" type="submit"-->
<!--                            formmethod="get" formaction="/Main/Study/SEARCH">Search</button>-->
<!--                </div>-->
            </div>
        </form>
        <!--            정보-->
        <div>
            <table class="table table-hover table-striped">
                <thead>
                <tr class="fs-5">
                    <th class="col-1">
                        <p class="m-0 d-flex justify-content-center">
                            글번호
                        </p>
                    </th>
                    <th class="col-1">
                        <p class="m-0 d-flex justify-content-center">
                            머리말
                        </p>
                    </th>
                    <th class="col-1">
                        <p class="m-0 d-flex justify-content-center">
                            ID
                        </p>
                    </th>
                    <th class="col-6">
                        <p class="m-0 d-flex justify-content-center">
                            제목
                        </p>
                    </th>
                    <th class="col-1">
                        <p class="m-0 d-flex justify-content-center">
                            이름
                        </p>
                    </th>
                    <th class="col-1">
                        <p class="m-0 d-flex justify-content-center">
                            시간
                        </p>
                    </th>
                </tr>
                </thead>
                <form>
                    <tbody>
                        <tr class="fs-6" th:each="resultdata: ${resultMap.resultList}">
                            <td class="col-1 border-0">
                                <p class="m-0 d-flex justify-content-center" th:text="${resultdata.NUMBER}"></p>
                            </td>
                            <td class="col-1 border-0">
                                <p class="m-0 d-flex justify-content-center" th:text="${resultdata.HEADTITLE}"></p>
                            </td>
                            <td class="col-1 border-0">
                                <p class="m-0 d-flex justify-content-center" th:text="${resultdata.ID}"></p>
                            </td>
                            <td class="col-6 border-0">
                                <button type="submit" name="content" th:value="${resultdata.NUMBER}"
                                        th:text="${resultdata.TITLE}" class="btn btn-transparent p-0"
                                        formaction="/Main/Study/Content/Content_show" formmethod="post"/>
                            </td>
                            <td class="col-1 border-0">
                                <p class="m-0 d-flex justify-content-center" th:text="${resultdata.NAME}"></p>
                            </td>
                            <td class="col-1 border-0">
                                <p class="m-0 d-flex justify-content-center" th:text="${resultdata.TIME}"></p>
                            </td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:if="${BEFORE} != 0" th:href="'/Main/Study/' + ${TITLE} + '?nowPage=' + ${BEFORE}">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="num: ${#numbers.sequence(start,end)}">
                        <a class="page-link" name="nowPage" th:href="'/Main/Study/' + ${TITLE} + '?nowPage=' + ${num}" th:text="${num}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:if="${FINAL != end}" th:href="'/Main/Study/' + ${TITLE} + '?nowPage=' + ${AFTER}">
                            <span>&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="d-flex justify-content-end">
            <a th:href="'/Main/Study/Content/Content_new?BIGHEADTITLE=' + ${TITLE}" class="btn btn-primary">
                새 글 작성
            </a>
        </div>
    </div>
</main>
<!--        <footer class="d-flex justify-content-center footer" >-->
<!--            <p class="m-3">개발 : 박치원</p>-->
<!--            <p class="m-3">Phone : +8210-2883-2980</p>-->
<!--            <address class="m-3">E-mail : iptablecommandcode@gmail.com</address>-->
<!--        </footer>-->
</body>
</html>